<!DOCTYPE html>
<html lang="en"><head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Get order</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/grid/">
    <!-- Favicons -->
    <meta name="theme-color" content="#712cf9">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/grid/grid.css" rel="stylesheet">
    </head>
<body class="py-4" bis_register="W3sibWFzdGVyIjp0cnVlLCJleHRlbnNpb25JZCI6ImVwcGlvY2VtaG1ubGJoanBsY2drb2ZjaWllZ29tY29uIiwiYWRibG9ja2VyU3RhdHVzIjp7IkRJU1BMQVkiOiJkaXNhYmxlZCIsIkZBQ0VCT09LIjoiZGlzYWJsZWQiLCJUV0lUVEVSIjoiZGlzYWJsZWQiLCJSRURESVQiOiJkaXNhYmxlZCJ9LCJ2ZXJzaW9uIjoiMS45LjA0Iiwic2NvcmUiOjEwOTA0fV0=">

<main>
    <div class="container" bis_skin_checked="1">

        <h1>Order</h1>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                ID
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .ID }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                OrderUID
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .OrderUID }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                TrackNumber
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .TrackNumber }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Entry
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Entry }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Locale
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Locale }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                InternalSignature
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .InternalSignature }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                CustomerId
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .CustomerId }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                DeliveryService
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .DeliveryService }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Shardkey
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Shardkey }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                SmId
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .SmId }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                DateCreated
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .DateCreated }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                OofShard
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .OofShard }}
            </div>
        </div>
        <h3 class="mt-4">Delivery</h3>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Name
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Name }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Phone
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Phone }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Zip
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Zip }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                City
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.City }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Address
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Address }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Region
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Region }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Email
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Delivery.Email }}
            </div>
        </div>

        <h3 class="mt-4">Payment</h3>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Transaction
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.Transaction }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                RequestId
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.RequestId }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Currency
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.Currency }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Provider
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.Provider }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Amount
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.Amount }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                PaymentDt
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.PaymentDt }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Bank
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.Bank }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                DeliveryCost
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.DeliveryCost }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                GoodsTotal
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.GoodsTotal }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                CustomFee
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Payment.CustomFee }}
            </div>
        </div>
        <h3 class="mt-4">Items</h3>
        {{ range .Items }}
        <h5 class="mt-4">Item</h5>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                ChrtId
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .ChrtId }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                TrackNumber
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .TrackNumber }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Price
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Price }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Rid
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Rid }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Name
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Name }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Sale
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Sale }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Size
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Size }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                TotalPrice
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .TotalPrice }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                NmId
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .NmId }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Brand
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Brand }}
            </div>
        </div>
        <div class="row mb-3 text-center" bis_skin_checked="1">
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                Status
            </div>
            <div class="col-6 themed-grid-col" bis_skin_checked="1">
                {{ .Status }}
            </div>
        </div>
        {{ end }}
    </div>
</main>
</body></html>